<div class="banner" >
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>




  <div class="container">
    <h1> All cocktails
      <%= link_to new_cocktail_path do %>
      <i class="fas fa-plus"></i>
      <% end %>
    </h1>

    <div class="cards">

      <% @cocktails.each do |cocktail|  %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card" , style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)),
           url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
           <h3><%= cocktail.name  %> </h3>
            <% cocktail.ingredients.each do |ingredient|  %>
              <ul>
                <li><%= ingredient.name %></li>
              </ul>
            <% end %>

          </div>
        <% end %>
      <% end %>
    </div>

  </div>



